.App {
  display: flex;
}

.App div {
    margin: 20px;
}

.errorMessage {
    color: red;
}

.error {
    border: red solid 4px;
}

.filterButton {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
    text-decoration: line-through;
}